* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  background-color: midnightblue;
  height: 100vh;
  margin: 0rem;
  overflow: hidden;
  color: white;

  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.content {
  padding: 20px;
  border: 5px solid white;
  margin: 0 25%;
}
* {
  transition: all 200ms ease-in-out;
}
.navigation {
  background: transparent;

  height: 50px;

  margin: 0 25%;

  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-around;
}
.nav-button {
  background-color: lightseagreen;
  border: 5px solid white;
  flex: 1;
  padding: 10px;
  text-align: center;
}
.nav-button:hover {
  background-color: seagreen;
}

#blob {
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(turquoise, slateblue);
  color: turquoise;
  animation: rotate 20s steps(100) infinite;
  opacity: 0.8;
  z-index: -3;
}
#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
  backdrop-filter: blur(12vmax);
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.2;
  }
  75% {
    scale: 1.2 1;
  }
  to {
    rotate: 360deg;
  }
}
