* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
  background-color: midnightblue;
  height: 100%;
  margin: 0;
  overflow: hidden;
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 10px;
  margin: 10px;
}

.content {
  padding: 20px;
  border: 5px solid white;
}

* {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.navigation {
  background: transparent;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-around;
}

.nav-button {
  background-color: lightseagreen;
  border: 5px solid white;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.nav-button:hover {
  background-color: seagreen;
}

#blob {
  height: 34vmin;
  width: 34vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(turquoise),
    to(slateblue)
  );
  background: linear-gradient(to bottom right, turquoise, slateblue);
  color: turquoise;
  -webkit-animation: rotate 20s steps(100) infinite;
  animation: rotate 20s steps(100) infinite;
  opacity: 0.8;
  z-index: -3;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
  -webkit-backdrop-filter: blur(12vmin);
  backdrop-filter: blur(12vmin);
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
  }

  75% {
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }

  to {
    rotate: 360deg;
  }
}
